[2021-01-12 12:38] WouterElfrink opened #1 "Testing on real machine"
Hello,

I want to read machine data from a iTNC530.

I'm trying to connect to a iTNC530 using pyLSV2 using the code from the Usage section in the [README](https://github.com/drunsinn/pyLSV2/blob/master/README.md)
[code]

I changed it so it connects to the correct IP-address, but when running the code I get the error `NotImplementedError: this case for system parameters is unknown, please send log

[2021-01-12 17:56] drunsinn commented on #1
Hello,

thanks for testing! Yes, I am running my code with real machines with a TNC 640 and a TNC 620.

The code is requesting information from the control and the response with a message of a certain length. Our machines always had a length of 120 characters so it worked for me. A document I found mentioned a length of 124 for programming stations but everything I tested had always 120 chars. As

[2021-01-12 18:04] drunsinn commented on #1
Updated package is available via the python package index / pip now. [https://pypi.org/project/pyLSV2/#history](https://pypi.org/project/pyLSV2/#history)

[2021-01-13 07:19] WouterElfrink commented on #1
Thanks for your answer and the updated package !

I did some testing myself and tried the same with decoding the message_length of 124. I got the same results then as I get with your package now. So I think that is the right way to go.

Now when using the command `connect` the `_configure_connection` part is giving an `Exception: error in communication`.  I think this has to do with the `max_block

[2021-01-13 08:57] WouterElfrink commented on #1
When the machine is not running I can read the selected program with  `get_selected_program`  just fine and get an output like `TNC:/PRG/'Running Program'` But when the machine is running it prints the selected program twice. Once with a byte in front of it and once just fine. Like this for example: `pTNC:/PRG/'Running Program' TNC:/PRG/'Running Program'`.

Sometimes that byte can't be decoded by

[2021-01-13 11:49] drunsinn commented on #1
Thanks again for the fast feedback!
I have taken a quick look at the code, the error you get can have multiple causes. Can you post the log output where it says which block length was read from the control?
Either there is a problem in decoding the system parameters or I am not sending out the correct system command.

The problem with decoding the file name is probably also a result of my lazy app

[2021-01-13 17:02] drunsinn commented on #1
Ok, it really was a problem with me being lazy while implementing reading the program stack. I did my testing for the function get_selected_program() just after switching on the machine, this lead to me thinking there was only one file name surrounded by 0x00. This was obviously wrong! 😅
The byte you saw at the beginning of the string are actually the line number in the currently executed file.

I

[2021-01-14 07:06] WouterElfrink commented on #1
Hello Max,

I had some difficulties getting the log file. I'll work on that so that i can post it. But I did read the block length from the control with `get_system_parameter()['Max_Block_Length']` and it returns 4096. When I use the `connect` command it gives an error saying `error in communication` so I do indeed think that the problem has to do with:

Thanks for the update, I'll go and try that

[2021-01-14 20:14] drunsinn commented on #1
Ok, this seems to have nothing to do with setting of the buffer size but enabling the secure file send option. The log message is/was but I changed it to read differently.

I also went ahead an added a fallback if enabling the secure file send was successful. There probably is some flag where I could check ahead of time but I am not sure which one. Instead of raising an Exception it now disables t

[2021-01-15 06:59] WouterElfrink commented on #1
Hello Max,

Here you have the log message after running the code

`con = pyLSV2.LSV2('IP', PORT, safe_mode=False)`
`con.connect()`

INFO:root:safe mode is off, login and system commands are not restricted. Use with caution!
DEBUG:root:Connected to host 'IP-address at port 'Port'
DEBUG:root:telegram to transmit: command A_LG payload length 8 bytes data: bytearray(b'\x00\x00\x00\x08A_LGINSPECT\x00')

[2021-01-15 07:31] WouterElfrink commented on #1
Max,

I added the option to read the execution status in my client, I don't know if you want to put that in the package but here is the code:

[code]

[code]
[code]

Wouter

[2021-01-15 11:06] drunsinn commented on #1
Hello Wouter,

first, thank you for the new functions, I will add them in a release later today after I have done some testing!
Feel free to send me your changes via pull requests, they are very welcome!

From the log you posted confirms my suspicion. I can see that the control reports that it doesn't support the command C_CC with payload of 0x0013. This is the command to enable the secure file se

[2021-01-20 08:18] WouterElfrink commented on #1
Hey Max,

I want to read the PLC-memory to wait until a value changes using a WORD, MARKER or DWORD statement.

I sent a command that waits until the program state changes.

I've used the TNCcmd to send this statement and inspected it with Wireshark. I've found that it first makes a login with  `LOGIN_PLCDEBUG` and then sends a command with `R_MB` (from PC to TNC) and get a response with `S_MB` (f

[2021-01-20 16:43] drunsinn opened #3 "Read values from PLC memory"
Hey Max,

I want to read the PLC-memory to wait until a value changes using a WORD, MARKER or DWORD statement.

I sent a command that waits until the program state changes.

I've used the TNCcmd to send this statement and inspected it with Wireshark. I've found that it first makes a login with  `LOGIN_PLCDEBUG` and then sends a command with `R_MB` (from PC to TNC) and get a response with `S_MB` (f

[2021-01-20 16:45] drunsinn commented on #1
First, I will create a new Issue for reading the PLC values since it is a different topic. I will copy your request and reply there: #3

Second: can you confirm that the reported problem with establishing the connection is fixed? If so, can you close this issue?

[2021-01-20 17:34] drunsinn commented on #3
Hello Wouter

to get the list in the code I checked every combination from R_AA to R_ZZ. For most I got an error message for an unknown command but some return errors like wrong parameters or problems with the Login-rights. I added them as comments to the code for documentation and to make sure I would not miss something in the future. My test probably never sent the correct data to get the respon

[2021-01-21 08:39] #1 closed

[2021-01-21 16:52] drunsinn commented on #3
@WouterElfrink I think I have some good news!
I found a service manual for the iTNC 530 on some Russian site, it contains steps on how to view and change the content of the PLC memory on the control. In addition to that I found a tool by inventcom that also can read the plc memory. I have not tried I yet but I think it should be easy to replicate it's functionality.

My first assumption that it is

[2021-01-22 06:56] WouterElfrink commented on #3
Hey Max,

Via the TNCcmd I sent the command `WAIT UNTIL` a marker changed value, I dont know what marker precisely anymore but I think it had something to do with the change of the machine state.

I've used the Inventcom tool to read the plc memory using MARKERS, WORD and DWORD. I've used Wireshark to capture the data but at that time didn't understand much of it.

I'll try some more today to see

[2021-01-22 15:51] drunsinn commented on #3
Good news! I think I got it working :-)

![plc marker read](https://user-images.githubusercontent.com/6860224/105510357-d581bd00-5cce-11eb-8a8e-59c8d533febb.PNG)

With the tip to use WAIT UNTIL I was able to discern that it actually needs five bytes of data to get a result. There dosen't seem to be any special logic for waiting, it just repeatedly polls the value form the control.
By reading the s

[2021-01-25 07:19] WouterElfrink commented on #3
Hey Max,
Good to hear that you got it working! I´m happy that you can help me with this.

I´m currently just looping through my code to check every 3 seconds if the `program_state` changes, and based the program state I run some statements.

My goal is to read the PLC-memory with the `wait` function so that it just waits until the state changes and then run the statements.

I look forward to try a

[2021-01-25 18:28] drunsinn commented on #3
I did my tests with a TNC640 and everything seems to work fine. I have integrated the code into the master branch.
Please test and check if it works for you.

To wait for a change something like this should do:

`while lsv2.read_plc_memory(address=4321, mem_type=lsv2.PLC_MEM_TYPE_MARKER)[0] is False:`
`    time.sleep(3)`

[2021-01-27 17:05] drunsinn commented on #3
Hello @WouterElfrink

FYI: I have just published version 0.6.2 which includes the plc read and I will close this issue since my tests have worked. Feel free to reopen it or create a new one if you have any problems!

[2021-01-27 17:05] #3 closed

[2021-02-02 11:46] WouterElfrink opened #6 "Program stalling"
Hey Max,

I've got a question, when i'm connected to the machine and a program is running all is going ok. But when a sub-program is called the machine stalls. I can read that another program is called and the machine puts the tool away but after that it stalls.

The controls on the TNC don't work as well when this is happening

If I disconnect from the machine, the machine continues and works fin

[2021-02-02 18:53] drunsinn commented on #6
Hello @WouterElfrink,

I haven't used theses function in regular use, only the file transfer stuff. I have never measured if the transfer times differ if there is a program running or not but I have not noticed anything in particular.

Just to be sure I understand you correctly: Does the control stall the machining or the python program?

Since you traced it to the blocking mode the control seems

[2021-02-02 19:13] WouterElfrink commented on #6
Hey @drunsinn,

The control (and machine) stalls, the python program just keeps running.

I did some testing and found out that it has something to do with the `get_program_stack` and/or `get_program_status`.

When I executed these statements, after connecting with `con.connect` the machine would stall when it wanted to change tools. When I ran the same script without executing these statements it

[2021-02-06 12:42] drunsinn commented on #6
Hello @WouterElfrink

Thanks for the update!

I dont think it has anything todo with the socket being full. The configuration step we had problems in the earlier issue negotiates the buffer size supported by the control. This size is used to get the absolute maximum number of bytes received in one telegram. Telegrams like the one used to transmit files use a special response code to indicate that

[2021-02-23 07:03] WouterElfrink commented on #6
Hey Max,

Just wanted to let you know that I found a way around it.

I connect to the machine to read the current program and some lines from the NC-file, then I disconnect from the machine. I reconnect to the machine and waits until the M02 marker changes from 0 to 1. Then execute some statements.

This way works for me. Now I need to figure out how to do that with multiple machines at the same t

[2021-02-23 19:01] drunsinn commented on #6
Hello Wouter,

that's great news! Good that you found a workaround. 👍
Its interesting behavior but who knows what the control is doing with the connection while it is idle. Connecting and Disconnecting seems to be easier on the control than leaving it open....

I think the solution for multiple connections depends on what you want to do. My application for LSV2 is to transfer files, for that I use

[2021-04-13 05:29] kekec14 opened #7 "Sending file in ASCII mode - error"
Hello!

I own:
`iTNC530, NC Software 606420 02 SP14` machine

I am strugling with sending txt file (two blocks - more than 4096bytes) to the machine. If file is sent in binary mode everything is ok. When I try to send the same file in ASCII mode I recieve this error:

`ERROR:root:could not send data with error T_BD`

If file is small (only one block - up to 4096 bytes) both sending modes works ok.

[2021-04-13 11:02] kekec14 opened #8 "Recive file in ASCII mode"
HeLlo!

I own:
`iTNC530, NC Software 606420 02 SP14 machine`

I have another question. In the `client.py` > `def recive_file` :

[code]
in `while True:` loop it should also be:
[code]

Or am I wrong?

Thank you!

[2021-04-13 15:51] drunsinn commented on #7
Hello @kekec14,

Can you post a bit more of the log? Do you have any specific reason that you can't use binary mode?

As far as I understand the difference between ASCII mode and binary mode is that for ASCII is the older one which had problems quite similar what you are experiencing. I would therefor recommend to always enable binary mode for all transfers. There doesn't seem to be any downside t

[2021-04-13 15:57] drunsinn commented on #8
@kekec14 you are correct! Only the bytes in the first block got converted back to a new line.
I will publish a new version with the fix shortly!

[2021-04-13 16:07] drunsinn commented on #8
Just pushed version 0.6.4 to pypi.org should be available for update shortly :-)

[2021-04-29 16:44] drunsinn commented on #7
@kekec14 did this answer help you out? If yes, could you close this issue?

[2021-04-29 17:08] #7 closed

[2021-05-12 11:50] kekec14 opened #10 "Tool Call"
Hello!

Is it possible to get information which tool is currently in use? Sam principle as getting the info about current running program.

`get_program_stack()`

Thank you!

[2021-05-12 18:44] drunsinn commented on #10
Hello @kekec14,

currently the library has no such function but I will take a look at it this weekend. The R_RI command has a lot of command types I have not yet decoded. I will let you know here I I find anything!

If this dosen't work out you could also load the pocket table from the control and check the row for the spindle. As long as you don't write to this file there shouldn't be a problem w

[2021-05-13 06:17] kekec14 commented on #10
Where can I find pocket table?

[2021-05-13 11:36] drunsinn commented on #10
Thank you, that makes things easy! An update should be ready during the weekend if I have the time.

The control keeps track of the position of all the tools in the file TNC:/table/tool_p.tch. Line 0.0 is the spindle.

[2021-05-13 11:53] kekec14 commented on #10
I found something interesting:

R_RI code to tigger too linfo is 51 (hex 33).

[2021-05-14 16:51] drunsinn commented on #10
Hello @kekec14

Thanks for the code! I just published a new version with your code! I also added the other data field (length, radius, axis and index).
I added the following code to the demo script that uses the fallback method if runinfo x does not work:

[code]

This basically reads the pocket table from the control and looks for the correct line. It might look a bit complicated since I made it

[2021-05-14 16:51] #6 closed

[2021-05-14 18:20] kekec14 commented on #10
Thank you for the implementation. It works as expected!

[2021-05-14 18:20] #10 closed

[2021-05-24 11:48] kekec14 opened #13 "Get error code"
Hello!

Is it possible to recieve error code? I tried to read plc marker 4177 with this code:
`print('PLC Marker PR Mode Error active: {}'.format(con.read_plc_memory(address=4177, mem_type=pyLSV2.PLC_MEM_TYPE_MARKER, count=1)))`
which is True if there is an error. I would like to know what is error reason..

Thank you!

[2021-05-24 19:06] drunsinn commented on #13
Hello @kekec14,

reading the error message seems to be possible via TNCcmd with the commands RUNINFO F and RUNINFO N. The documentation says that this command works with a TNC640 only if you have TNCremoplus which is a paid option.

For an iTNC530 it seems to work just fine. I have a pushed a working version to master so you can take a look. As far as I can see it works as expected for the most pa

[2021-05-25 12:36] kekec14 commented on #13
I am aware of `TNCcmd runinfo F/N`option. As you said it only works on TNC530... I thought if there is universal option for all type of machines (maybe via PLC address). I also have TNCremoplus and I can confirm it gives outuput on TNC640, but I would like to achive this with python library - if possible.

[2021-05-25 18:00] drunsinn commented on #13
At the moment I have no idea if there is anything in the PLC memory like that. There might be but I am not aware of any universal address to geht error codes or messages.
Can you capture the Interaction between TNCremoplus and the controls with Wireshark? Depending on how RUNINFO F/N is enabled I might be able to do the same in python but I expect there to be some kind of encryption going on for t

[2021-05-28 18:50] drunsinn commented on #13
@kekec14 do you know the PLC key for the control? There is a special drive called LOG: where you can access log messages from different parts of the control. If you can find a file that contains the log message you are interested in it would be possible to create a file parser similar to the table parser

[2021-05-29 04:31] kekec14 commented on #13
Sorry right now I can not provide wireshark log. How can I access LOG: partition?

Thank you!

[2021-05-29 10:16] drunsinn commented on #13
If you use the key number for the PLC in the MOD menu you can access this partition from the file manager on the controls. The default for this key number is 807667 but this does not work on all of our machine.
![scrdump1](https://user-images.githubusercontent.com/6860224/120066579-829e8480-c077-11eb-8383-15f3cd7b6903.png)
Natural you can also access it via TNCremo or pyLVS2 :-)

[2021-07-05 16:59] drunsinn commented on #13
@kekec14 did you make any progress on this matter? I never managed to get the encrypted functions from TNCremo plus to work.

[2021-07-07 09:34] kekec14 commented on #13
Hello! I did not manage to decrypt payload. I did workaround, which execute tnccmdplus.exe runinfo f, if plc marker for error is True.
I have additional question regarding TNC640 marker functions. In technical manual I noticed that there are some words beside M PLC markers... For example: `NN_ChnErrorFStop  (M4220)`.

My question is if this marker can be read via NN_ChnErrorFStop  and not via M422

[2021-07-07 17:49] drunsinn commented on #13
Hello @kekec14,

just as i expected, thanks for the feedback.

Regarding the modern style of the plc markers I have some good and some bad news :-/ From what I understand the control can either use direct memory addresses or an API with names.
TNCcmd does have the command GETVALUE which can read the values with the API name like this.
`GETVALUE \PLC\program\symbol\global\ApiChn[0].NN_ChnErrorFStop

[2021-08-17 08:25] devac33 commented on #13
We cannot get the error code on some tnc530. What can be wrong?

[2021-08-17 16:26] drunsinn commented on #13
@devac33 can you be a bit more specific? What software version is running on the control? Can you read other information like the current operating mode? Reading error messages and reading the current mode use a similar lsv2 command.
As discussed here I know that it only works on iTNC530 controls but as far as I know there is no limitation regarding the software versions on the iTNC.

On another n

[2021-09-02 14:15] orkhands opened #17 "Reading float values"
Hi @drunsinn,

I can confirm that the lib works with iTNC530, 606420 02 SP3 quite nicely!

I am able to retrieve correct sensor values from the PLC memory as indicated by the addresses provided by the inventcom article (e.g. 322 milling head speed in revolutions/minute). Yet, so far I am only able to query Integer values. The machine does provide more sensor data, e.g. the milling head torque in N

[2021-09-02 17:12] drunsinn commented on #17
Hello @orkhands,

thanks for the feedback! I will add your software version to my list :-)

I am sorry to say that as far as i know TNCscope is using the DNC library instead of LSV2. I have done quite a bit of searching and analysis with Wireshark but DNC is quite a bit harder to decode than LSV2 which is for the most part just plain text without any encoding.

On the upside it seems that there is

[2021-09-06 12:54] #17 closed

[2021-09-06 12:58] drunsinn commented on #13
I am closing this issue since there wasn't any more feedback. Feel free to create a new one

[2021-09-06 12:58] #13 closed

[2021-10-28 12:15] kekec14 opened #20 "compiling to .exe"
Hello!

When I try to compile my script to .exe with py2exe, translations are not included. Any idea how to achieve to include translations (/locales folder).

problematic functions are:
`get_program_status_text()` and `get_execution_status_text()`.

Thank you!

[2021-10-31 14:49] drunsinn commented on #20
I was able to confirm your steps, manually adding the translation files makes it work but I can't figure out what I could change in pyLSV2 to make py2exe include the mo files. The packages include the translation files so I would think pyLSV2's setup.py works as intended.

Going forward I can remove the translation stuff entirely and hardcode the messages. As I don't see myself adding additional l

[2021-10-31 17:33] drunsinn commented on #20
Ok, I did some more digging. It seems to be a problem with py2exe only checking for *.py files and nothing else. A work around is to manually add files but this does not allow adding files to library.zip.
I created #21 which lets you set the path for the translation files manually. This together with adding the files seems to work great!
To test I used this setup.py script:

[code]

together with

[2021-12-11 14:58] #20 closed

[2022-03-15 10:54] NecoMai opened #23 "C-Sharp call Python"
This pyLSV2 program works for me very well.  Thanks all.
However, when I call this python program in c-sharp, I get an exception.
IronPython version is [3.4.0-alpha1 released on 2021-04-19](https://ironpython.net/download/)
The message from “Microsoft.Dynamic.dll” is "'NoneType' object has no attribute 'close'".
The code as below:

using System;
using System.Collections.Generic;
using System.Linq;

[2022-03-15 16:21] drunsinn commented on #23
Hello @NecoMai,

thanks for the positiv feedback!

I have no experience on how to call a python library from C# so I can#t give you any feedback on this directly.
The only place in pyLSV2 where a .close() function is called is inside the disconnect function to close the tcp socket. If the socket is None I would think that something went wrong while establishing the connections. This can be because

[2022-03-15 16:58] NecoMai commented on #23
Hi drunsinn

      I'm glad to receive your email.  Thanks.

      I have found any of "*.close" in the package of pyLSV2 and commented it, but it doesn't seem to work at all.

      I found that the problem occurs whenever importing the pyLSV2 package.

      c-sharp call Python

      Install IronPython in VS "Nuget package management" . It has two version on Python 2.7 and Python 3.4 .

[2022-03-15 17:22] NecoMai commented on #23
![123](https://user-images.githubusercontent.com/45963103/158435197-ad288f22-5c63-493f-85b4-36aa15993633.png)

# This is a sample Python script.
# Press Shift+F10 to execute it or replace it with your code.
# Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

import pyLSV2.client

# Press the green button in the gutter to run the script.
if __name__ =

[2022-03-15 18:33] drunsinn commented on #23
I am currently not set up to do testing on windows so I can only make some wild guesses.

First I would recommend using `import pyLSV2` instead of `import pyLSV2.client`. Importing the whole package implicitly loads the module __init__.py which makes sure everything in the library is accessible from your application/script.

Second your example should not run any 'active' code from pyLSV2. The clo

[2022-03-16 02:47] NecoMai commented on #23
![123](https://user-images.githubusercontent.com/45963103/158506596-f2368bfc-f2ac-4846-9764-8fb62d74904d.png)

[2022-03-16 03:18] sazima opened #24 "How can I read the XYZ coordinates of the spindle"
I want to read the spindle position of heidenhan cnc, but I can't find function.

[2022-03-16 07:32] NecoMai commented on #23
Thanks very much. Using python 3.4 and IronPython 3.4.0 can fit that issue.
I am sure that it may be something wrong in the library on the other version of python.

[2022-03-18 02:04] sazima commented on #24
Maybe so, but I'm not sure

[code]

result: [bytearray(b'\x00\x050.0000\x000.0000\x00500.0000\x000.0000\x000.0000\x00X\x00Y\x00Z\x00B\x00C\x00')]

[2022-03-18 02:23] sazima commented on #24
Hello, Could  you tell me how to download tnccmd? Thank you

[2022-03-18 09:21] SabarinathRajendran opened #26 "Machine PLC Restart on running LSV2_demo.py"
I was trying out the LSV2_demo script and below is my output, i have got T_ER from the PLC and also the PLC had issues and idea on how to connect with the iTNC530 machine to gets the progam_status execution_status and spindle speed and spindle feed data

[code]

[2022-03-18 15:48] drunsinn commented on #24
Great find!
I checkt with TNC 640 and iTNC programming station and both work with the command you found. It was a bit tricky to decode the result but it worked out in the end.
The second byte is the number of axes followed by the actual values followed by the axes letters in order. We are missing info about the first byte which is always zero but it dosen't seem to be necessary :-)

The new functi

[2022-03-18 16:11] drunsinn commented on #26
Hello @SabarinathRajendran
getting some errors is normal, this happens when the control dosen't support a certain command. I tried to make pyLSV2 be as forgiving as possible when it comes to these kind of problems. In your case it seems the control dosen't support reading PLC values.

If you could run the lsv2_demo script with logging level DEBUG it would also I can tell you exactly what didn't wo

[2022-03-18 17:32] SabarinathRajendran commented on #26
@drunsinn thank you for the speedy response, will attach the debugging log once I run it again. It's seems to be an issues with set_sys_command function with this particular control, thank you for the speedy reply and I would also like to make a pull request where the warning can be made Bold 😅😅, those should be highlighted, thank you for the kind reply ,will keep you updated with the status and s

[2022-03-18 20:16] drunsinn commented on #26
Pull requests are always welcome!

[2022-03-20 09:29] drunsinn commented on #23
@NecoMai
So, I looked a bit deeper into ipython3.4.0a1 . I did not use it from inside a C# program but I ran the interpreter from the command line. There where indeed two problems in the code that prohibited it from running. After fixing both (see branch #25) I was able to run lsv2_demo.py whit 'regular' python and python and get the same output.

I wasn't able to reproduce the error you reported

[2022-03-22 09:18] NecoMai opened #29 "How can I read the actual feed rate of spindle?"
Hi @drunsinn
    I want to read the feed rate of spindle. I modify the program to read the PLC data from address 2 to 1000.

    Unfortunately,  I can see the actual feed rate on the device's screen, but nothing in plc data.

    I think the actual feed rate change frequently，so it doesn't write into the plc.

    How can I get that feed rate of spindle ?

    Thanks very much.

[2022-03-22 16:17] drunsinn commented on #29
Hello @NecoMai,

sorry but as far as I know there is no direct command to read the current feed rates, at least TNCcmd dosen't seem to have anything.

Finding the correct PLC address is a bit of a problem because you have to know the data format first bevor checking the address space. Otherwise it is pretty difficult.
You could try a different approach if you have a TNC640 or similar: Look for the

[2022-03-22 16:39] NecoMai commented on #29
Hi drunsinn
        I had tried to ask the supplier how I can get my want. It told me that the password in the control will be changed everyday.

        So I decided to find another way. Fortunately, I had found the open project pyLSV2. Thanks all of you.

        I found that the feed rate of spindle can be calculated this morning, so I want to read the tool's information.

        I will have a

[2022-03-26 08:23] NecoMai commented on #29
Hi drunsinn
         I read the PLC address from 4 to 100000 step 4, and I had found that there is something wrong after PLC address 21480.
         I searched the target value from the result, I found what my want finally. That is exciting.
         I had found the PLC address, and I can read the feed rate of spindle from PLC now.
         There are something 'f' strings in table_reader.py on lin

[2022-03-27 09:39] drunsinn commented on #29
Hello @NecoMai,
That is really good to know it worked and you can get the values you want! It's nice to know that this little project is of use to someone!

I understand the situation as follows: The controls support two protocols for communication: LSV2 and DNC. LSV2 is the older one as it can also be used via a RS232 connection. All commands are transferred as plain ASCII codes and binary data w

[2022-03-28 16:21] drunsinn commented on #24
function is part of release v0.7.4

[2022-03-28 16:21] drunsinn commented on #23
backport is part of release v0.7.4

[2022-03-28 16:21] #23 closed

[2022-04-09 03:41] sazima commented on #24
Test OK in Heidenhain 530

[2022-04-26 00:58] NecoMai commented on #29
The issue may be closed.

[2022-04-26 05:19] #29 closed

[2022-05-06 08:14] sazima commented on #29
[code]

[2022-05-06 08:28] sazima opened #30 "I'm looking for the description or reason of each LSV2 protocol error numbers. Is there a document"
https://github.com/drunsinn/pyLSV2/blob/220f350ca732cfd4ce9ab49c8997e2daf909d8c4/pyLSV2/const.py#L195

[code]

[2022-05-07 09:55] drunsinn commented on #30
The error numbers are matched vis

[2022-05-09 06:30] sazima commented on #30
When I call `read_plc_memory`, there is an error in the log. Do you know how to solve this problem, Thank you.

res = c.read_plc_memory(764, MemoryType.WORD)
[code]

[2022-05-09 16:04] drunsinn commented on #30
First, it seems that the you haven't installed the library with pip so the installation is missing the translation files. That is the reason you get these nondescript error messages like LSV2_ERROR_... . If you install the package via pip there are translation files included which I mentioned earlier. If you don't care about installing with pip just copy the *.mo files from the python package into

[2022-05-12 13:49] sazima commented on #30
I gave feedback to my customers and hoped they could ask for the password.
If there is follow-up, I will update this issue. Thanks for your help!!!

[2022-06-11 09:21] manusolve commented on #26
We are running a few iTNC 530 machines with 340422-08 on them. Using the demo script:
https://github.com/drunsinn/pyLSV2/blob/c85d1dc64ce7c5f7e2941d0f558a22a6c702798f/scripts/lsv2_demo.py

The control terminates the EXT process when trying to access the tool file. Seems like error above. Below is the output with logging.basicConfig(level=logging.DEBUG)

I added
con.login(login=pyLSV2.Login.PLCDEBU

[2022-06-11 16:55] drunsinn commented on #26
Hello @manusolve,

yeah, the standard key numbers is quite an open secret if you can use any search engine :-)
I still decided to not include it in the code since I don't want to risk someone to ruin their machine by for example deleting files on the PLC partition. That is also the reason i added the safe_mode parameter.

Your problem is definitely the same bug as reported by @SabarinathRajendran.

[2022-06-12 09:05] manusolve commented on #26
For our application we just need the current program name and the machine run state; this works. However thought the debug information would be of use.

I'm running the master branch as of yesterday; (I skipped the binary/ascii mod you proposed); adjusted the low_level_com file as:

[code]

The machine control goes RED and halts. It says that a log file is in the SYS: partition. Cannot access that

[2022-06-12 09:22] manusolve commented on #26
On another control with a similar later revision the result is the same; The tool file is called TOOL_P60.TCH on that machine.

`DEBUG:root:got version info: {'Control': 'iTNC530', 'NC_Version': '340422 12 SP3', 'PLC_Version': 'GR34CS.01G', 'Options': '%0000111100000000', 'ID': '000014581109', 'SPLC_Version': 'not supported'}`

[code]

[2022-06-12 14:29] drunsinn commented on #26
Thanks for the new logs!

The password for the SYS drive seems to be a generated each day base on the date. That's at least what a service technician once told me.
You might be able to get at the log file if you create a service file. The service file contains a lot of different configuration and log files. Try looking through these files, maybe we are lucky and the lsv2 error log gets also saved

[2022-06-12 20:19] manusolve commented on #26
[remo-2.zip](https://github.com/drunsinn/pyLSV2/files/8886751/remo-2.zip)

Attached wireshark dump of tncremo transferring TOOL_P.TCH

[2022-06-13 18:13] drunsinn commented on #26
To be honest, I don't see much of a difference between your recording and what i would have expected. Maybe it really is the additional byte at the end of the R_FL command.

I updated the pull request #31 with a test script. It simplifies the connection and file transfer process a bit. Additional i added some `time.sleep(1)` to add some delay in case the control has a problem with keeping up with

[2022-06-15 11:14] manusolve commented on #26
Once the a machine is free I'll make a test
Is it this branch ->
[broken_file_transfer_itnc](https://github.com/drunsinn/pyLSV2/tree/broken_file_transfer_itnc)

[2022-06-15 17:41] drunsinn commented on #26
No hurry, i very much appreciate your help!
I also have to wait for my boss to give me the ok to test my code on the company's machines :-)

Yes, [broken_file_transfer_itnc](https://github.com/drunsinn/pyLSV2/tree/broken_file_transfer_itnc) is the branch with test code. The script I mentioned is in the folder scripts and is called `itnc_transfer_test.py`

[2022-06-15 19:29] manusolve commented on #26
No problem

Line 23:
`con = pyLSV2.LSV2("localhost" port=19000, timeout=5, safe_mode=False)`
to
`con = pyLSV2.LSV2(address, port=19000, timeout=5, safe_mode=False)`

[code]

[2022-06-16 10:53] SabarinathRajendran opened #32 "Part Count Function for iTNC Machines"
Hello @drunsinn ,

is there a way to get the part count of the machine?.

[2022-06-17 10:34] drunsinn commented on #26
so nothing has changes :-(

I was hoping by recreating the same conditions it would work. Since it still dosen't work I would think it is something much earlier in the connection setup process.

The only thing I could think of is adding a "chang_dicectory" bevor starting the file download. See the updated branch.

I am aware that this is probably using up quite some amount of your time but could I

[2022-06-19 11:34] drunsinn commented on #32
I was not aware something like this could be done, haven't heard about this "hidden" plc memory address before. Quite interesting, I will have to try this myself.

From reading this article I would say it should be as simple as reading the PLC address just like
`counter = lsv2_connection.read_plc_memory(address=20, mem_type=MemoryType.WORD, count=1)`
Nothing fancy necessary I would think.

The way

[2022-06-19 12:40] SabarinathRajendran commented on #32
Hello @drunsinn ,

Thanks, I was hoping for a default counter and as you have referred to the default counter i will try to look in to it and will share the function if i can take the value from it.

God speed.

[2022-06-23 01:05] pangafu opened #33 "Can I start or stop a specify program by pyLSV2?"
I can read program status by con.get_program_status().
Can I stop/start a specify program ?

[2022-06-26 11:00] drunsinn commented on #33
not as far as I know. maybe via dnc but not with only lsv2

[2022-06-28 18:52] manusolve commented on #26
Sorry for the delay.
Attached is the wireshark of:
- Connect to machine with TNCRemo 3.2.404
- Open TOOL_T.TCH

[i530-connect-and-transfer.zip](https://github.com/drunsinn/pyLSV2/files/9003912/i530-connect-and-transfer.zip)

[2022-06-29 18:25] drunsinn commented on #26
Thank you for the Wireshark file! There is nothing obvious different. I will do a deeper analysis and as a next step I will be to create a script that mimics the exact same message flow.

I don't know if I have time the next few days but I will let you know what I find as soon as possible!

[2022-07-01 11:12] NeeXoo opened #34 "LSV2 transfer protocol"
I have a link for you, it is unfortunately in German
but maybe it helps you.

https://www.yumpu.com/de/document/read/18882603/-f-heidenhain

[2022-07-02 09:15] NeeXoo commented on #34
I am glad that it helps you.
I wanted to write a LSV2 transfer program but my skill is not enough, while researching I found this page.
I wrote a prorgamm with your modules but it crashes our machines, so I had to use TNCRemoCMD tool in my program. This works so far but is laborious.

sorry for my english, I am german ;-)

[2022-07-03 15:50] drunsinn commented on #26
@manusolve I updated the script in branch #31 to match the communication as closely as possible. Here is the capture I got:

[mimic_itnc_traffic.zip](https://github.com/drunsinn/pyLSV2/files/9035076/mimic_itnc_traffic.zip)

I certainly see now where the differences are at the section where the connection is established but what exactly causes the reset on the control is still unknown.

[2022-07-03 19:15] manusolve commented on #26
Below is the debug from the new script.

For us the main use case of this is to get the current program and the run state of the machine. Which we can do already. If we can help improve the library then we are happy to help. Hopefully the doc you have in the other thread will show the way!

[code]

The ERR file on the control; I extracted manually from the HDD

[code]

[2022-07-04 18:55] Baptou88 opened #35 "Few question"
Hi there,

I just discovered this lib, and I would be very interested in using it!

To try this lib I have on my computer "programming station itnc530 340 494 08 SP2"

However, I have a few questions:

first after the line con.connect() I have the following error:
`WARNING:root:T_ER or T_BD received, an error occurred during the execution of the last command: LSV2_ERROR_T_ER_WRONG_PARA`, is that t

[2022-07-07 09:01] NecoMai opened #36 "Cann't connect to the Haidenhain system (version TNC640)"
Hi drunsinn

      I think there maybe something wrong in the program, or something configuration in the machine had been modified.

     One controller infomation of grob machine can be read from the program:
     Controller Information:
     TNC-Type:	TNC640
     NC-Version:	340590 10 SP2
     PLC-Version:	TNC640_V14.06.05

    But the other controller infomation of HERMLE machine(C42U) can not

[2022-07-07 10:18] #36 closed

[2022-07-07 16:38] drunsinn commented on #36
Did you manage to fix it yourself?
Looks to me like the control didn't respond. Let me guess, you had to enable the connection on the control?
Been there myself ;-)

[2022-07-07 17:05] drunsinn commented on #33
@pangafu after reviewing some documents the only thing I could find was something called drip feeding but this still requires the user to press the start button on the control. This is probably a safety feature.

[2022-07-07 17:05] #33 closed

[2022-07-10 11:49] Baptou88 commented on #35
Hello,
Thank you for your reply !

I just tried again without specifying a password, I get this message:

`INFO:root:login executed successfully for login Login.MONITOR
DEBUG:root:telegram to transmit: command CMD.C_LK payload length 1 bytes data: bytearray(b'\x00\x00\x00\x01C_LK\x00')
DEBUG:root:command CMD.C_LK executed successfully, received T_OK without any payload
DEBUG:root:command to unlock

[2022-07-10 13:30] drunsinn commented on #35
Ok, so the login worked but the button press is not recognized.

This is something that came to my attention just recently by reading the documentation provided in #34. It has a list of completely different key codes. The control you are communicating with probably expects one of these key codes. Why the error message is talking about fonts is a bit strange though.

I am currently working on incor

[2022-07-11 04:57] pangafu commented on #33
@drunsinn
Thansk a lot~

[2022-07-21 06:47] NecoMai opened #38 "Can we get the symbol name through the PLC address?"
Hi drunsinn
           Our customer have one HERMLE C42U and one GROB G552 with HEIDENHAIN TNC640 NC system.

           Hermle had changed PLC password, but the Grob never.

           I had used the 'foolish' method to find the value which is shown on the screen when the spindle work.

           The python program is ok and we can get all the value in the PLC. I write a few code as below:

[2022-07-22 19:38] Baptou88 commented on #35
for some time now I have not been able to log in with `lsv2.login(login=pyLSV2.Login.MONITOR)`, even with freshly installed itnc 530

[2022-07-23 13:12] drunsinn commented on #35
This was caused by an mistake on my side. I accidentally removed the login MONITOR from the list of allowed logins in safe mode.

Version 0.7.6 with a fix should be available soon.

[2022-07-23 15:26] Baptou88 commented on #35
thanks for the reply

whether with or without the "safe_mode" I systematically get an error

[2022-07-24 08:52] Baptou88 commented on #35
I finally managed to connect, here is what I did:

first in the PLC:/oem.sys file I uncommented the line "REMOTE.LOCKSOFTKEYVISIBLE = YES"

secondly in the TNC:/tnc.sys file I uncommented the 3 lines beginning with "remote."

and third in PGM edit mode click "MOD" then set "External access" to true

[2022-07-24 09:39] Baptou88 commented on #35
![image](https://user-images.githubusercontent.com/48880112/180641286-abfc20d7-6c1b-4268-92dc-a516ad1150c3.png)

[2022-07-24 14:20] drunsinn commented on #35
Interesting, the exact same programming station works for me and I cant remember changing anything in *.sys files.

I will add a FAQ section to the readme and list your steps for everyone to find.

BTW: which version of python are you using? I am working on a rewrite for a version 1.0, the minimal required version will most likely be 3.7 because I want to use dataclasses for all the dictionaries.

[2022-07-24 14:25] Baptou88 commented on #35
I use Python 3.10.5

[2022-07-24 14:26] Baptou88 commented on #35
https://www.inventcom.net/s1/_pdf/Heidenhain_TNC_Machine_Data.pdf

[2022-07-24 15:02] drunsinn commented on #38
Hello @NecoMai,

after looking into this i am sorry to say that I have found no better way to map the symbol name to the address or vice versa via LSV2.

The technical manual also doesn't have a list but talks about not mixing both address types in the plc program. I think the compilation of the plc program works in the same way when you compile a C program. Every symbol gets automatically mapped

[2022-07-25 02:17] NecoMai commented on #38
Hi Drunsinn
         Thanks for your reply.

         I can't find the package dataclasses(dataclass) and typing in ironpython but can find them in python 3.8.
         You can get the latest ironpython version(src files) from the website as below:
         [https://codeload.github.com/IronLanguages/ironpython3/zip/refs/tags/v3.4.0-beta1](url)

         BTW, only phthon 3.4 or later can be support

[2022-08-04 09:00] NecoMai commented on #38
Hi Drunsinn:

When I want to read the string in the plc:
print(con.read_plc_memory(address=1, mem_type=pyLSV2.MemoryType.STRING, count=300))

It throw the error message:
Traceback (most recent call last):
  File "E:/pyLSV2-master/JCTest.py", line 27, in <module>
    print(con.read_plc_memory(address=1, mem_type=pyLSV2.MemoryType.STRING, count=300))
  File "E:\pyLSV2-master\pyLSV2\client.py", line

[2022-08-06 15:59] drunsinn commented on #38
Hello @NecoMai,

The maximum count of available strings is part or the system parameters. You get the number by reading con.get_system_parameter()['Strings'].

Everything in PLC memory is addressed starting at address 0. This is probably also the reason you are getting the second error message. You are starting at address 1 while reading 200 strings. The last string would therefore be at address 2

[2022-08-09 07:19] NecoMai commented on #38
Hi Drunsinn:

print(con.read_plc_memory(address=1000, mem_type=pyLSV2.MemoryType.STRING, count=con.get_system_parameter()['Strings']))
When I run the above code, the system reports an error:
WARNING:root:T_ER or T_BD received, an error occurred during the execution of the last command: LSV2_ERROR_T_ER_BAD_MEMADR
ERROR:root:failed to read string from address 89966

Thanks very much!

[2022-08-23 19:59] drunsinn commented on #38
Hello @NecoMai,
to be honest I can't quite figure out what exactly is happening in your case.
I have made some improvements in the branch https://github.com/drunsinn/pyLSV2/tree/rework_plc_data_read. Can you take a look and try if something changes?

This branch also has a improvement in regards to the problem with the limit of reading a maximum number of 255 elements at a time. Now it should be p

[2022-08-24 03:19] NecoMai commented on #38
Hi Drunsinn:
      I am so depressed about the Heidenhain nc system.
      When I ping the C42U and Grob, I find that the network is intermittent and there is no rule.
      Would you help me to have a test for the other Heidenhain nc system?
      I get the network status in the nc system as below:

![93a20b4ff4ca34b7ef29a78d7511a3a](https://user-images.githubusercontent.com/45963103/186314104-82

[2022-08-24 17:59] drunsinn commented on #38
I am no expert on networking problems, all I can do is tell you what came to mind.

As far as I understand the article on wikipedia regarding [package loss](https://en.wikipedia.org/wiki/Packet_loss) a dropped package could happen because the network was to busy or because of a checksum error.

Here are some things you could check to see where the problem is coming from.

Can you identify if the c

[2022-08-25 01:39] NecoMai commented on #38
Hi Drunsinn:
      Thank you all the same.
      I had found the reason of packages loss. I am very sorry that I forgot to cancel my questions.

[2022-10-07 15:35] #38 closed